body {
    font: 12px Arial, sans-serif;
}

#drop_zone {
    color: #555;
    font-size: 18px;
    text-align: center;

    width: 400px;
    padding: 50px 0;
    margin: 50px auto;

    background: #eee;
    border: 1px solid #ccc;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#drop_zone.hover {
    background: #ddd;
    border-color: #aaa;
}

#drop_zone.error {
    background: #faa;
    border-color: #f00;
}

#drop_zone.drop {
    background: #afa;
    border-color: #0f0;
}
.loader{
    margin: 0 auto;
    display: none;
}

#images-list{
    position: relative;
    list-style-type: none;
    padding: 0;
}
#images-list li{
    display: inline-block;
    position: relative;
    margin-right: 10px;
}
.link-delete-preview{
    position: absolute;
    right: 5px;
    top: 5px;
    text-decoration: none;
}